body {
  font-family: "proxima-nova", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 170px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -10px;
  color: white;
  padding-bottom: 0;
}

h2 {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px !important;
}

li {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 13px;
  width: 90%;
  text-transform: uppercase;
}

li span {
  opacity: 0.5;
}

em {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.card {
  border: none !important;
  border-radius: 0 !important;
}

@media (max-width: 600px) {
  h1 {
    font-size: 90px;
    letter-spacing: -2px;
    line-height: 0.85;
  }
  h3 {
    font-size: 13px;
  }

  li {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
  }
}
